<.flash_group flash={@flash} />
<%= if @current_user do %>
<div class="mx-2">
  <.header>
    Welcome to Taxon

    <:subtitle>The Mnemonic Organizational Link Engine</:subtitle>
  </.header>
  <.button>
    <.link navigate={~p"/links"}>Links</.link>
  </.button>
  <.button>
    <.link navigate={~p"/invite_codes"}>Invite Codes</.link>
  </.button>
</div>
<% else %>
  <.button>
    <.link href={~p"/users/log_in"}>Login</.link>
  </.button>
<% end %>
